<div [ngClass]="{'background': !isLoginPage(), 'login-background': isLoginPage()}">
  <div class="d-flex">
    <!-- Sidebar -->
    <div *ngIf="!isLoginPage()" class="sidebar flex-column p-3" id="sidebarMenu">
      <h5 class="text-center">Menu</h5>
      <ul class="nav nav-pills flex-column mb-auto text-start"> <!-- Added text-start for left alignment -->
        <li class="nav-item">
          <a class="nav-link text-start" [routerLink]="['/investors']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <i class="bi bi-person-lines-fill me-2"></i>Investors
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-start" [routerLink]="['/projects']" routerLinkActive="active">
            <i class="bi bi-kanban-fill me-2"></i>Projects
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-start" [routerLink]="['/investments']" routerLinkActive="active">
            <i class="bi bi-currency-dollar me-2"></i>Investments
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-start" [routerLink]="['/expenses']" routerLinkActive="active">
            <i class="bi bi-receipt me-2"></i>Expenses
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-start" [routerLink]="['/expenseTypes']" routerLinkActive="active">
            <i class="bi bi-list-task me-2"></i>Expense Types
          </a>
        </li>
      </ul>
       <!-- User Info and Logout Button -->
       <div class="mt-auto text-center sidebar-footer">
        <p><i class="bi bi-person-fill me-1"></i><strong>{{ userFirstName }}</strong></p>

        <!-- Logout Button -->
        <button class="btn btn-danger btn-sm" (click)="logout()">
          <i class="bi bi-box-arrow-right me-1"></i>Logout
        </button>
      </div>
    </div>

    <!-- Main content -->
    <div [ngClass]="{'content-area': true, 'login-content-area': isLoginPage()}" class="p-4">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
