<div class="container">
    <h3>Expense Types</h3>
  
    <div class="row">
      <!-- Form Section -->
      <div class="col-md-4">
        <div class="toast-container">
          <ngb-toast *ngIf="showToastFlag" [ngClass]="{'toast-success': toastType === 'success', 'toast-error': toastType === 'error'}" [autohide]="true" [delay]="3000" (hidden)="showToastFlag = false">
            {{ toastMessage }}
          </ngb-toast>
        </div>
  
        <form (ngSubmit)="saveExpenseType()" #expenseTypeForm="ngForm">
          <div class="form-group">
            <label for="name">Expense Type Name</label>
            <input type="text" class="form-control" id="name" required [(ngModel)]="newExpenseType.name" name="name">
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="!expenseTypeForm.form.valid">
            Add Expense Type
          </button>
        </form>
      </div>
  
      <!-- Table Section -->
      <div *ngIf="isLoading" class="d-flex justify-content-center my-3">
        <div class="spinner-border" role="status"></div>
      </div>
      <div *ngIf="expenseTypes.length > 0" class="col-md-8">
        <table class="table outer-bordered">
          <thead>
            <tr>
              <th scope="col">Expense Type Name</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let expenseType of expenseTypes">
              <td>{{ expenseType.name }}</td>
              <td>
                <div class="btn-group" role="group">
                  <button class="btn btn-primary mx-1" (click)="openUpdateModal(expenseType)">Edit</button>
                  <button class="btn btn-danger mx-1" (click)="deleteExpenseType(expenseType.id)">Delete</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

        <!-- Update Project Modal -->
        <ng-template #updateModal let-modal>
            <div class="modal-header">
              <h4 class="modal-title">Update Project</h4>
            </div>
            <div class="modal-body">
              <form (ngSubmit)="updateExpenseType(modal)" #updateForm="ngForm">
                <div class="form-group">
                  <label for="name">Expense Type Name</label>
                  <input type="text" class="form-control" id="name" required [(ngModel)]="selectedExpenseType.name" name="name">
                </div>
                <div class="form-group">
                </div>
                <div class="d-flex justify-content-between">
                  <button type="submit" class="btn btn-primary" [disabled]="!updateForm.form.valid">Update Expense Type</button>
                  <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Close click')">Close</button>
                </div>
              </form>
            </div>
          </ng-template>

    </div>
  </div>
  